// COLORS

$color-cyan:hsl(172, 67%, 45%);
$color-dark-green:hsl(183, 100%, 15%);
$color-green-gray-dark:  hsl(186, 14%, 43%);
$color-green-gray-medium: hsl(185, 41%, 84%);
$color-green-gray-light:hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);
