:root {
    --cyan: hsl(172, 67%, 45%);
    --vdark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    font-family: 'Space Mono', monospace;
}

body {
    font-size: 12px;
    font-weight: 700;
    background-color: var(--light-grayish-cyan);
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 2rem auto;
}

main {
    background-color: var(--white);
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    padding: 3rem 3rem 5rem;
    box-sizing: border-box;
    /* width: 100%; */

    /* margin: 3rem 0; */
    /* position: absolute;
    bottom: 0; */
}

label {
    display: block;
    margin: 1rem 0 .5rem;
    font-size: 24px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--very-light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    text-align: right;
    font-size: 24px;
    color: var(--vdark-cyan);
}

#bill {
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
}

.tip-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.tip-options label {
    background-color: var(--vdark-cyan);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
}

.tip-options label[id="custom-label"] {
    padding: 0;
}

input[type="radio"]:focus+label {
    color: var(--vdark-cyan);
    background-color: var(--cyan);
}

input[type="radio"]:checked+label {
    color: var(--vdark-cyan);
    background-color: var(--cyan);
}

#num-people {
    background-image: url('../images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 1rem center;
}

.display {
    background-color: var(--vdark-cyan);
    border-radius: 2rem;
    padding: 2rem;
    margin: 4rem 0;
    color: var(--white);
}

.label {
    display: flex;
    flex-direction: column;
}

.display p {
    margin: 0;
}

.per-person-label {
    font-size: .7rem;
    color: var(--very-light-grayish-cyan);
    letter-spacing: 1px;
}

.display section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.display-num {
    color: var(--cyan)
}

button {
    background-color: var(--cyan);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
}